.department::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.department::-webkit-scrollbar-thumb {
   background-color: rgba(99, 99, 99, 0.4);
   border-radius: 5px;
   visibility: hidden;
}

.department:hover::-webkit-scrollbar-thumb {
    visibility: visible;
 }


.hover:hover {
    font-weight: 600;
    cursor: pointer;
}

.length10 {
    min-width: 10rem;
}

.length8 {
    min-width: 8rem;
}