<div class="bg-white p-5 min-w-[280px] h-full flex flex-col gap-2 rounded-lg">
    <div class="flex flex-col gap-2 items-center">
        <span class="material-symbols-outlined text-5xl text-[#4a19be]">local_library</span>
        <div class="flex flex-col items-center">
            <span class="text-2xl font-semibold text-[#402fa4]">BCA</span>
            <span class="text-sm font-semibold text-[#7752fe]">Department</span>
        </div>
    </div>

    <div class="mt-5 flex justify-evenly">
        <div class="w-[4rem] bg-[#e0e4ff] flex flex-col items-center p-3 rounded-lg">
            <span class="text-[#402fa4] font-semibold">1ST</span>
            <span class="text-2xl font-bold text-[#402fa4]">33%</span>
        </div>

        <div class="w-[4rem] bg-[#e0e4ff] flex flex-col items-center p-3 rounded-lg">
            <span class="text-[#402fa4] font-semibold">3RD</span>
            <span class="text-2xl font-bold text-[#402fa4]">33%</span>
        </div>

        <div class="w-[4rem] bg-[#e0e4ff] flex flex-col items-center p-3 rounded-lg">
            <span class="text-[#402fa4] font-semibold">5TH</span>
            <span class="text-2xl font-bold text-[#402fa4]">33%</span>
        </div>
       
    </div>
</div>  