<section class="bg-[#eff5ff] sticky w-[15%] h-screen top-0 left-0">
<div class="flex flex-col items-center mt-5 border-b-2 pb-6 border-[#dae8ff]">
    <img src="/img/profile.webp" height="70px" class="" width="70px" alt="profile_image">
    <span class="text-sm font-semibold text-[#1c35b1]">Panchanan Deka</span>
</div>
<div class="mt-[3rem]">
    <ul class="flex flex-col gap-5">
        <li class="hover:bg-black hover:text-white p-3"><a href="/" class="flex items-center gap-2">
                <span class="material-symbols-outlined">dashboard_customize</span>
                <span class="font-semibold text-base">Dashboard</span>
            </a></li>
        <li class="hover:bg-black hover:text-white p-3"><a href="/attendance" class="flex items-center gap-2">
                <span class="material-symbols-outlined">how_to_reg</span>
                <span class="font-semibold text-base">Attendance</span>
            </a></li>
        <li class="hover:bg-black hover:text-white p-3"><a href="/students" class="flex items-center gap-2">
                <span class="material-symbols-outlined">diversity_3</span>
                <span class="font-semibold text-base">Students</span>
            </a></li>
        <li class="hover:bg-black hover:text-white p-3"><a href="/analysis" class="flex items-center gap-2">
                <span class="material-symbols-outlined">dictionary</span>
                <span class="font-semibold text-base">Departments</span>
            </a></li>
        <li class="hover:bg-black hover:text-white p-3"><a href="/settings" class="flex items-center gap-2">
                <span class="material-symbols-outlined">settings</span>
                <span class="font-semibold text-base">Settings</span>
            </a></li>
        <li class="hover:bg-black hover:text-white p-3 absolute bottom-5 w-full"><a
                class="flex items-center gap-2">
                <span class="material-symbols-outlined">logout</span>
                <span class="font-semibold text-base">logout</span>
            </a></li>
    </ul>
</div>
</section>